# ---------------- PYTHON ----------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
myenv/
.venv/

# ---------------- JUPYTER ----------------
.ipynb_checkpoints/

# ---------------- STREAMLIT ----------------
.streamlit/

# ---------------- DATASETS (IMPORTANT) ----------------
data/
dataset/
datasets/

# ---------------- YOLO TRAINING OUTPUT ----------------
runs/
*.pt
*.onnx

# ---------------- MODEL FILES ----------------
model/**/*.pth
model/**/*.pkl

# ---------------- METRICS ----------------
metrics/

# ---------------- TEMP FILES ----------------
temp.png
*.log
*.tmp

# ---------------- OS FILES ----------------
.DS_Store
Thumbs.db

# ---------------- IDE ----------------
.vscode/
.idea/

# ---------------- CACHE ----------------
.cache/

# ---------------- ENV VARIABLES ----------------
.env

# ---------------- LARGE FILES ----------------
*.zip
*.tar
*.gz